/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	outline: none;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: open sans;
	font-size: 14px;
}
ol, ul {
	list-style-type: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
	width: 90%;
	margin: 0 auto;
}

/*Topbar style*/
.topbar{
	display: inline-block;
	width: 100%;
	height: 30px;
	float: left;
	background-color: #ffa800;
	font-size: 14px;
	font-weight: 600;
	position: relative;
}
.topleft{
	float: left;
}
.topcenter{
	float: left;
	text-align: center;
	margin: 0 25px;
}
.topright{
	float: right;
}
.topbar ul{
	line-height: 30px;
}
.topbar ul li{
	list-style-type: none;
	display: inline-block;
	position: relative;
}
.topbar ul li a{
	text-decoration: none;
	display: inline-block;
	color: #fff;
	padding: 0 5px;
	width: 100%;
	text-align: center;
	-webkit-transition: 300ms;
}
.topbar ul li a:hover{
	color: #000;
}

/* Submenu Style*/
.topbar ul li ul{
	position: absolute;
	display: none;
	z-index: 999;
	background-color: #ffa800;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border: 1px solid #eea312;
}
.topbar ul li ul li{
	width: 100%;
}
.topbar ul li ul li a{
	padding: 0;
}
.topbar ul li ul .myprofile-dropdown{
	min-width: 120px;
}

/* Header Style */

.header{
	display: inline-block;
	width: 100%;
	float: left;
	padding: 15px 0;
	border-bottom: 1px solid #00000010;
}
.header .logo{
	float: left;
	width: 20%;
}
.header .searchbar{
	width: 45%;
	float: left;
	padding-top: 15px;
}
.searchbar .searchField{
	width: 100%;
	height: 35px;
	padding: 15px;
	border-radius: 50px;
	border: 1px solid gainsboro;
}
.header .headerright{
	float: right;
}
.header .headerright ul li{
	display: inline-block;
	padding: 10px 0;
}
.header .headerright ul li a{
	text-decoration: none;
	margin-left: 10px;
	color: #333;
}
.header .headerright ul li .signBtn{
	padding: 8px 13px;
	border-radius: 50px;
	background-color: #ffa800;
	color: #fff;
	font-weight: 600;
}


/* Categories Menu */

.productContent{
	display: inline-block;
	width: 100%;
	float: left;
	padding: 15px 0;
	position: relative;
}
.productContent .productCategories{
	width: 20%;
	float: left;
	padding: 7px 15px;
	border-radius: 8px;
	border: 1px solid #dfdcdc;
}
.productContent .productCategories ul li{
	display: inline-block;
	width: 100%;
	float: left;
	margin: 5px 0 10px;
	list-style-type: none;
}
.productContent .productCategories ul li a i.fa-caret-right{
	margin-left: 5px;
	color: #ffb524;
	vertical-align: middle;
	margin-top: -1px;
}
.productContent .productCategories ul li a{
	display: inline-block;
	padding: 5PX 0;
	text-decoration: none;
	color: #333;
	font-weight: 600;
}
.submenu{
	position: absolute;
	width: 50%;
	background-color: #fff;
	border: 1px solid gainsboro;
	left: 24.8%;
	top: 2.5%;
	min-height: 372px;
	border-radius: 8px;
	z-index: 9999;
	display: none;
}
.productContent .productCategories ul li ul{
	max-width: 40%;
	float: left;
	padding: 15px;
}
.productContent .productCategories ul h1{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 5px;
	margin-top: 5px;
}
.productContent .productCategories ul li ul h2{
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	color: #333;
	margin-bottom: 10px;
}
.productContent .productCategories ul li ul a{
	color: #333;
	font-size: 14px;
	font-weight: 500;
}
.productContent .productCategories ul li ul a:hover{
	color: #ffdd05;
}

/* Slider style*/

.productContent .productSlider{
	width: 78%;
	float: right;
	display: inline-block;
	background-color: #ffdd054d;
	border-radius: 8px;
	position: relative;
	overflow: hidden;
}
.sliderInner{
	width: 100%;
	height: 193px;
	display: inline-block;
	padding: 5px;
}
.sliderInner img{
	width: 100%;
	height: 193px;
}
.cycle-control{
	position: absolute;
	top: 45%;
	left: 0;
	z-index: 100;
	width: 100%
}
.cycle-control span{
	width: 35px;
	height: 35px;
	border-radius: 50px;
	font-size: 28px;
	text-align: center;
	line-height: 35px;
	display: inline-block;
	background-color: #ffdd05;
	color: #fff;
	position: absolute;
	margin: 0 25px;
}
.cycle-control #next{
	right: 0;
}
.banner{
	width: 510px;
	height: 193px;
	display: inline-block;
	margin-left: 25px;
	margin-top: 15px;
	border-radius: 4px;
	overflow: hidden;
	text-align: center;
}
.banner img{
	width: 100%;
}
.middlebanner img{
	width: 98%;
	border-radius: 100px;

}
.middlebanner{
	width: 100%;
	float: left;
	display: inline-block;
	padding: 35px 0;
	text-align: center;
	border-radius: 4px;
}

/*There are white spaces in the sides of image2.png remove 
that before use it.otherwise the border-radius won't work
 peoperly*/











